<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#fixed-collapse-navbar"
            aria-expanded="false">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img
                src="images/logo-inline.png"
                alt="ตงๆข้าวมันไก่ภูเก็ต ข้าวมันไก่ภูเก็ต ร้านอาหารภูเก็ต ที่นั่งชิว ของกินภูเก็ต ของกินใกล้ฉัน ราคาถูก ของเด็ดภูเก็ต"
                class="img-responsive"
                style=" width:300px;
                                height: 75px;"></a>

        </div>
        <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="#a0" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                </li>
                <li>
                    <a href="#a1">อาหารของเรา</a>
                </li>

                <li class="dropdown">
                    <a href="#a2">อัลบั้ม</a>
                </li>

                <li class="dropdown">
                    <a href="#a3" >ที่ตั้ง</a>
                </li>
                <li>
                    <a  href="https://www.facebook.com/tongtongchickenrice/" class="facebook">
                        facebook ของเรา
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>