#main-navigation, #navigation.affix-top {
    top: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.73);
    margin-top: 45px;
}

.tp-tabs {
    background-color: rgba(0, 0, 0, 0.60);
}

.mb_show {
    display: none;
}

.mb_img_fixed {
    width: 300px;
    height: 300px;
}

.mb_menu_price {
    text-align: center;
    font-size: 38px;
}

.padding-top {
    padding-top: 0;
}

.hide_score {
    opacity: 0;
}

.mb_font_list {
    font-size: 22px !important;
}

.mb--hide {
    opacity: 0;
}

.alert-text {
    display: none;
}


#top-bar .open-cart{
    margin-right: 20px;
}

#top-bar p {
    font-size: 18px;
}

#top-bar .header {
    font-size: 25px;
}

#navigation .fix-nav {
    margin-bottom: -25px;
}




@media screen and (max-width: 576px){
  
}

@media screen and (max-width: 768px){
  
}


@media screen and (max-width: 960px){
    #main-navigation, #navigation.affix-top {
        top: 0;
        width: 100%;
        z-index: 999;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.73);
        margin-top: 0px;
    }

    #main-navigation .navbar-brand {
        padding: 0;
        max-width: 300px;
        margin-left: 30px;
    }

    menu_size {
        font-size: 24px !important;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 18px !important;
    }

    #rev_slider_34_1 .tp-leftarrow .tparrows {
        margin-left: -300px
    }

    .mb_center {
        text-align: center;
    }

    .mb_left {
        text-align: left !important;
    }

    .mb_font {
        font-size: 50px;
    }

    .mb_menu_size {
        font-size: 28px;
    }

    .mb_menu_price {
        font-size: 38px;
    }

    .mb_img_fixed {
        height: 400px;
    }

    .mb_font_list {
        font-size: 22px !important;
    }

    #facts {
        display: none;
    }

    .mb_none {
        display: none;
    }

    .mb_show {
        display: block;
    }

    #gallery .work-item img {
        max-height: 300px
    }

    .mb_cpr {
        font-size: 18px !important;
        text-align: center;
    }

    .mb_hidef {
        display: none;
    }

    #navigation .fix-nav {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 960px){
    #gallery .work-item img {
        width: 240px;
        height: 150px;
    }

    .copyright{
        display: flex;
        flex-direction: row;
    }

    .mb_hidef {
        margin-left: 60%;
        font-size: 25px;
    }
}