<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="text-center">
            <h2 class="heading_space" style="color:black;"></h2>
            <p class="heading_space detail" style="color:black;">
              </p>
            <!--<a href="#order-form" class="btn-common-white page-scroll">Order Now</a> -->
        </div>
    </div>
    <div class="col-md-2"></div>
</div>