<div class="row">
    <div class="col-md-8">
        <h2 class="heading" id="a1">เมนูเด็ดประจำร้าน</h2>
        <hr class="heading_space"/>
        <div class="slider_wrap">
            <div id="service-slider" class="owl-carousel">

                <div class="item">
                    <div class="item_inner">
                        <div class="image">
                            <img src="images/extends/food1.jpg" alt="Services Image"/>
                            <a href="#"></a>
                        </div>
                        <h3>
                            <a href="#">ฮองเต้น้ำมันหอย</a>
                        </h3>
                        <p>ผักรสชาติดี</p>
                    </div>

                </div>
                <div class="item">
                    <div class="item_inner">
                        <div class="image">
                            <img src="images/extends/food2.jpg" alt="Services Image"/>
                            <a href="#"></a>
                        </div>
                        <h3>
                            <a href="#">หมูกรอบห้องกง</a>
                        </h3>
                        <p>หมักด้วยซอสสูตรพิเศษ ผ่านการปรุงแต่งรสมาอย่างดี</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_inner">
                        <div class="image">
                            <img src="images/extends/food3.jpg" alt="Services Image"/>
                            <a href="services.html"></a>
                        </div>
                        <h3>
                            <a href="#">ไก่ฮองเต้</a>
                        </h3>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item_inner">
                        <div class="image">
                            <img src="images/extends/food4.jpg" alt="Services Image"/>
                            <a href="#"></a>
                        </div>
                        <h3>
                            <a href="#">ข้าวมันไก่</a>
                        </h3>
                        <p>ข้าวมันไก่</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <h2 class="heading">Our &nbsp; Menu</h2>
        <hr class="heading_space"/>
        <ul class="menu_widget">
            <% for(var i=0; i<getall.length; i++) {%>
                <li>
                    <%= getall[i].name%>
                    <span><%=getall[i].price %>
                        บาท</span>
                </li>

            <% } %>

        </ul>
        <h3></h3>

    </div>
</div>