<div class="row">
    <div class="col-md-12 text-center" id='a3'>
        <h2 class="heading">แผนที่มาร้านตงตง หรือ
            <u>
                <a
                    href="https://www.google.co.th/maps/dir/''/%E0%B8%95%E0%B8%87%E0%B8%95%E0%B8%87%E0%B8%82%E0%B9%89%E0%B8%B2%E0%B8%A7%E0%B8%A1%E0%B8%B1%E0%B8%99%E0%B9%84%E0%B8%81%E0%B9%88/@7.8862886,98.3057458,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x305031e80a62ed31:0xd2db4c2da14539e7!2m2!1d98.3757864!2d7.8862944">
                    คลิกที้นี้
                </a>
            </u>เพื่อดูเส้นทางหลัก</h2>
        <hr class="heading_space"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div id="testinomial-slider" class="owl-carousel text-center">
            <!--<div class="item">
                <h3>ตงตง ข้าวมันไก่สูตรเบตง ติกับร้านกาแฟ คารัมโบลา ตรงข้าม VT แหนมเนือง
                    อร่อยดีครับ ชอบข้าวมันไก่แบบนี้ ข้าวหุงเป็นตัวไม่นิ่มเกินไป รสไม่หวาน
                    และไม่มันเยิ้ม</h3>
                <p>Adis Dan Pitukrojjananont</p>
            </div>
            <div class="item">
                <h3>ข้าวมันไก่บ้านเพื่อสุขภาพ ไม่มันไม่เลี่ยน</h3>
                <p>Alex Hales</p>
            </div>
            <div class="item">
                <h3>ร้านข้าวมันไก่ สูตรเบตง อร่อยมาก ทั้งเนื้อไก่บ้าน และน้ำจิ้ม ขอ 3 คำ อร่อยมาก</h3>
                <p>Shane Robertson</p>
            </div>-->
            <img src="images/map.jpg" alt="Services Image" height="75%" width="75%"/>
        </div>
    </div>
</div>