<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="heading">ความสุขจากลูกค้าของเรา</h2>
        <hr class="heading_space"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="testinomial-slider" class="owl-carousel text-center">
            <div class="item">
                <h3>ตงตง ข้าวมันไก่สูตรเบตง ติกับร้านกาแฟ คารัมโบลา ตรงข้าม VT แหนมเนือง
                    อร่อยดีครับ ชอบข้าวมันไก่แบบนี้ ข้าวหุงเป็นตัวไม่นิ่มเกินไป รสไม่หวาน
                    และไม่มันเยิ้ม</h3>
                <p>Adis Dan Pitukrojjananont</p>
            </div>
            <div class="item">
                <h3>ข้าวมันไก่บ้านเพื่อสุขภาพ ไม่มันไม่เลี่ยน</h3>
                <p>Alex Hales</p>
            </div>
            <div class="item">
                <h3>ร้านข้าวมันไก่ สูตรเบตง อร่อยมาก ทั้งเนื้อไก่บ้าน และน้ำจิ้ม ขอ 3 คำ อร่อยมาก</h3>
                <p>Shane Robertson</p>
            </div>
        </div>
    </div>
</div>