<div class="row">
    <div class="col-md-12 text-center" id="a2">
        <h2 class="heading ">เมนูหลากหลาย</h2>
        <hr class="heading_space"/>
        <div class="work-filter">
            <ul class="text-center">
                <li>
                    <a href="javascript:;" data-filter="all" class="active filter">All Food</a>
                </li>
                <li>
                    <a href="javascript:;" data-filter=".starters" class="filter">Starters</a>
                </li>
                <li>
                    <a href="javascript:;" data-filter=".drinks" class="filter">Drinks & Beverges</a>
                </li>
                <li>
                    <a href="javascript:;" data-filter=".dinner" class="filter">
                        Dinner</a>
                </li>
                <li>
                    <a href="javascript:;" data-filter=".lunch" class="filter">Breakfast & Lunch</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="zerogrid">
        <div class="wrap-container">
            <div class="wrap-content clearfix home-gallery">
                <div class="col-1-4 mix work-item drinks">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food1.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food1.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food2.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food2.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item dinner">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food3.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food3.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item drinks">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food4.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food4.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item dinner">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food5.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food5.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item lunch">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food6.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food6.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food7.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food7.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food8.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food8.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="zerogrid">
        <div class="wrap-container">
            <div class="wrap-content clearfix home-gallery">
                <div class="col-1-4 mix work-item drinks">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food1.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food1.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food2.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food2.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item dinner">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food3.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food3.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item drinks">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food4.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food4.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item dinner">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food5.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food5.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item lunch">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food6.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food6.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food7.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food7.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4 mix work-item starters">
                    <div class="wrap-col">
                        <div class="item-container">
                            <div class="image">
                                <img src="images/extends/food8.jpg" alt="cook"/>
                                <div class="overlay">
                                    <a
                                        class="fancybox overlay-inner"
                                        href="images/extends/food8.jpg"
                                        data-fancybox-group="gallery">
                                        <i class=" icon-eye6"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>