<div class="row">
    <div class="col-md-8">
        <h2 class="heading" id="a1">เมนูเด็ดประจำร้าน</h2>
        <hr class="heading_space"/>
        <div class="slider_wrap">
            <div id="service-slider" class="owl-carousel">
                <% for(var i=0; i<data.length; i++) {%>
                    <div class="item">
                        <div class="item_inner">
                            <div class="image">
                                <img src="<%= data[i].image%>" alt="Services Image"/>
                                <a href="#"></a>
                            </div>
                            <h3>
                                <a href="#"><%= data[i].name%></a>
                            </h3>
                            <p><%= data[i].des%></p>
                        </div>

                    </div>
                <% } %>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <h2 class="heading">Our &nbsp; Menu</h2>
        <hr class="heading_space"/>
        <ul class="menu_widget">
            <li>หมูกรอบห้องกง<span>150 บาท</span>
            </li>
            <li>ไก่ฮองเต้<span>100 บาท
                </span>
            </li>
            <li>ฮองเต้น้ำมันหอย<span>40 บาท</span>
            </li>
            <li>ข้าวมันไก่<span>50 บาท</span>
            </li>

        </ul>
        <h3>Other Special Menu</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            <strong>molestie consequat</strong>, vel illum dolore nulla facilisis.
        </p>
    </div>
</div>