<% for(var i=0; i< foods_noodle.length; i++) {%>
    <div class="col-1-4 mix work-item noodle">
        <div class="wrap-col">
            <div class="item-container">
                <div class="image">
                    <img class="ds_fix_img"  src='<%=foods_noodle[i].image%>' alt="cook"/>
                    <div class="overlay">
                        <a
                            class="fancybox overlay-inner"
                            href='<%=foods_noodle[i].image%>'
                            data-fancybox-group="gallery">
                            <i class=" icon-eye6"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>